body {
  margin: 0;
  padding: 0;
  color: yellowgreen;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: "Roboto Condensed";
  max-width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  .section-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo-tms-container {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #fff;
    width: 60px;
    height: 35px;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 11px 13px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 11px 13px -13px rgba(66, 68, 90, 1);
    box-shadow: 0px 11px 13px -13px rgba(66, 68, 90, 1);
    padding-left: 5px;
  }

  h1.industry-solutions {
    font-size: 18px;
    color: #ff6021;
  }

  .logo-tms-container>a>img {
    width: 50px;
    height: 15px;
    margin-left: 10px;
    margin-right: 20px;
  }

  .leaf {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .header {
    margin-left: 0;
    /* margin-top: 40px; */
  }

  .header-title h1 {
    font-size: 20px;
    margin-bottom: 30px;
    /* color: #fac31f; */
    color: #FFF;
  }

  li>h2 {
    font-size: 14px;
    /* color: #fee117; */
  }

  .benefits {
    margin-bottom: 30px;
  }

  .calltoaction {
    color: #fff;
    height: 60px;
    width: 100%;
    font-size: 20px;
    border-radius: 15px;
    font-weight: bold;
    background-color: #ff6021;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  .footprint-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footprint,
  .save-energy {
    height: 30px;
    font-weight: 50px;
    margin: 20px 10px;
  }

  .contact {
    padding: 30px;
    width: auto;
  }

  .details-section h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #ff6021;
    text-align: center;
    align-items: center;
    padding: 5px 0;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 15px;
  }

  .description-content>h2 {
    font-size: 16px;
    text-align: right;
    color: #02445e;
  }

  .description-content.left-title>h2 {
    text-align: left;
  }

  .details-description {
    display: flex;
    align-items: center;
  }

  .details-description span {
    font-size: 12px;
    color: #02445e;
  }

  .details-description>img {
    width: 80px;
    height: 60px;
    margin: 0 10px 5px 0;
    border-radius: 10px;
  }

  .details-description.right-img>img {
    margin: 0 0 5px 10px;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #02445e;
    min-height: 100vh;
  }

  .contact-section>h1 {
    text-align: center;
    color: #fac31f;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .section-main {
    /* margin-top: 80px; */
  }

  li>h2 {
    font-size: 30px;
  }

  .logo-tms-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    position: fixed;
    /* width: 100%; */
    top: 200;
    left: 200;
    border-radius: 8px;
    height: 60px;
    width: 120px;
    -webkit-box-shadow: 0px 11px 13px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 11px 13px -13px rgba(66, 68, 90, 1);
    box-shadow: 0px 11px 13px -13px rgba(66, 68, 90, 1);
  }

  .logo-tms-container>a>img {
    width: 100px;
    height: 35px;
  }

  .logo-tms-container>h1 {
    font-size: 30px;
    color: #ff6021;
  }

  .leaf {
    width: 70px;
    margin-right: 20px;
    height: 70px;
    float: left;
  }

  .header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .calltoaction {
    color: #fff;
    height: 60px;
    width: 400px;
    font-size: 24px;
    border-radius: 15px;
    font-weight: bold;
    background-color: #ff6021;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details-a {
    display: flex;
    justify-content: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    border: 2px solid yellowgreen;
    padding: 30px;
    border-radius: 25px;
    width: 50vw;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .footprint-container {
    display: flex;
    /* width: 30%; */
    justify-content: space-between;
    margin: 30px 0;
  }

  .footprint-container>img {
    height: 70px;
    margin: 0 30px 0 30px;
  }

  .details-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    margin: 0 auto;
  }

  .details-section h1 {
    display: flex;
    justify-content: center;
    color: #ff6021;
    text-align: center;
    align-items: center;
    padding: 5px 0;
  }

  .details-container {
    display: flex;
    padding: 0 200px;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 35px;
    max-width: 1000px;
  }

  .details-container>h2 {
    font-size: 30px;
    text-align: center;
    color: #02445e;
  }

  .details-description {
    display: flex;
    align-items: center;
  }

  .details-description span {
    font-size: 20px;
    color: #02445e;
  }

  .details-description>img {
    width: 300px;
    height: auto;
    margin: 0 10px 5px 0;
    border-radius: 10px;
  }

  .details-description.right-img>img {
    margin: 0 0 5px 10px;
  }

  .description-content>h2 {
    text-align: right;
    color: #02445e;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 30px;
  }

  .description-content>span {
    line-height: 40px;
  }

  .description-content.left-title>h2 {
    text-align: left;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #02445e;
    min-height: 100vh;
  }

  .contact-section>h1 {
    text-align: center;
    color: #fac31f;
    font-size: 36px;
    margin-bottom: 50px;
    width: 60%;
  }
}

section {
  padding: 20px 10px;
}

.section-main {
  max-width: 100%;
  min-height: 100vh;
  background-color: #02445e;
  background-color:transparent;
			background-image:url("./images/backgroud.png");
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
}

h1 {
  color: yellowgreen;
  font-size: 48px;
  font-weight: 1200;
}

li {
  color: #fff;
  list-style-type: "✓";
  padding-left: 2ch;
}

::marker {
  color: #fac31f;
  font-size: 24px;
}

.email,
.name {
  min-width: 200px;
  height: 30px;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 20px;
}

textarea:focus,
input:focus {
  outline: none;
}

.contact {
  display: flex;
  flex-direction: column;
  border: 2px solid yellowgreen;
  border-radius: 25px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

.email-label,
.name-label {
  font-size: 24px;
  margin-bottom: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title>h1 {
  /* color: #fac31f; */
  color: #FFF;
}

.calltoaction {
  color: #fff;
  background-color: #ff6021;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calltoaction>img {
  margin-right: 20px;
}

.submit-btn {
  background-color: #fac31f;
  color: #20364b;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: self-end;
}

.submit-btn>img {
  margin-right: 10px;
}

.rodo {
  font-style: italic;
  font-weight: 10;
}

.form-message {
  color: red;
}

label {
  padding: 5px 20px 5px 0;
  cursor: pointer;
  display: block;
}

label span {
  display: flex;
  min-height: 20px;
  align-content: center;
  margin-left: 30px;
}

label input {
  display: none;
}

label input+span:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 2px;
  margin-right: 8px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-indent: -20px;
  overflow: hidden;
  position: absolute;
  left: 30px;
}

label input:checked+span:before {
  content: "✓";
  background: #ff6021;
  text-indent: 4px;
  color: #fff;
}

label:hover input+span:before {
  background: #ff6021;
}

.form-message {
  margin-bottom: 20px;
}

hr {
  width: 20%;
}

